@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary:#F84456;
  --color-secondary:#D63854;
};

* {
  font-family: 'Outfit', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}
/* Remove arrows from number inputs */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Invert color of datetime-local calendar icon */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
